{{- $page := . -}}
{{- $authors := $page.Params.authors -}}
{{- $roles := $page.Params.author_roles | default dict -}}

{{- range $index, $author := $authors -}}
  {{- if gt $index 0 }}, {{ end -}}

  {{- $authorName := $author -}}

  {{- /* Resolve author profile from data/authors/*.yaml */ -}}
  {{- with site.Data.authors -}}
    {{- with index . $author -}}
      {{- with .name.display -}}
        {{- $authorName = . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- /* Author name: bold + underline for "me" */ -}}
  {{- if eq $author "me" -}}
    <strong><u>{{ $authorName }}</u></strong>
  {{- else -}}
    {{ $authorName }}
  {{- end -}}

  {{- /* Author roles */ -}}
  {{- with index $roles $author -}}
    {{- if in . "co-first" -}}
      <sup>†</sup>
    {{- end -}}
    {{- if in . "corresponding" -}}
      <sup>*</sup>
    {{- end -}}
  {{- end -}}
{{- end -}}
